<h1 align="center">Welcome to Syed's Plumbing Services</h1>

<center>
<%= form_tag(search_path, method: :get) do %>
  
  <p>Enter a search term below</p>
  
  <%= text_field_tag :option%>
  <%= submit_tag "Submit!"%>

  <% end %>
  </center>